/* 

font-family: 'Jost', sans-serif; */


:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

body {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F5F3E8;
}

.contenedor-principal {
    padding: 0 !important;
    flex-direction: column;
}



header {
    background-color:  #258F67;
}

.info{
    background-color: #214842;
    padding: .3rem;
    font-size: .7rem;
    text-align: center;
    color: white;
}

/* .marca {
    flex-direction: column;
} */

.img-logo {
    width: 3rem;
    height: auto;
   
}

.nombre {
    color: white;
    font-size: 1.8rem;
    margin: 0;
}

.carrito {
    align-self: center;
    margin: 2rem;
}

.navegacion {
    background-color: bisque;
}

footer {
    background-color:  #258F67;
    height: auto;
    margin-top: auto;
}
.copyright {
    color: white;
    font-size: .8rem;
    padding: 1rem ;
    border-top: .5px solid #214842;
}

.redes-sociales {
    align-self: center;
    margin: 1rem;
}

.icon-redes {
    font-size: 1.5rem; 
    color: white;
    margin: .5rem;
}

.hero-farmacia {
    background-image: url("../images/farmacia.png");
    width: 100%;
    height: 40vh;
    object-fit:cover;
    background-position: center center;
    background-size: cover;
    color: white;
}

.titulo-hero {
    font-size: 3rem;
}


.card-img-top {
    height: 50%;
    object-fit: cover;
}

/* .nav-link {
    font-size: 1.2rem;
}

.scroll-text {
    animation: scroll 10s infinite reverse;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(-100%);
    }
    50% {
        transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  } */
  
ul {
    list-style: none;
}

.categoria {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    border-bottom: 3px solid  #258F67;
}

.link-categorias {
    text-decoration: none;
    color: black

}

.filtros {
    background-color: #f8f9fa;
}

.back-to-top {
    position: fixed;
    right: 40px;
    bottom: 50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color:  #9EBCA6;
    border-radius: 6px;
    font-size: 13px;
    color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;  
    text-decoration: none !important;
    transition: all 0.3s ease;
    z-index: 300;
}
.back-to-top.is-visible {
    opacity: 1;
    visibility: visible;
}
.back-to-top i {
    font-weight: bold;
}
.back-to-top {
    background-color: #9EBCA6;
    color: #2D2A2B;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 35%);
}
.lorada {
    font-family: "lorada-font";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-decoration: inherit;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: white;
}

@media (max-width: 767.98px) {
    .filtros {
        flex-direction: column;
    }
    .categorias {
        width: 100%;
        margin-bottom: 2rem;
    }
    .search {
        width: 100%;
    }
    
}
/* @media (max-width: 1024px) {
    .slider{
        max-width: 100vw;
        overflow: hidden;
    }
} */

/* .slide{
	width: 100%;
} */

/* @keyframes scroll {
	0% {
	transform: translateX(0);
	}
	100% {
	transform: translateX(calc(-250px * 1));
	}
} */

/* .slide-track {
	animation: scroll 5s linear infinite;
	display: flex;
    align-items: center;
    width: 100%;
} */

.barra-superior{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* .slider {
    max-width: 100%;
    overflow: hidden;
}

.slide-track {
    display: flex;
}

.slide {
    width: 14.28%;
}

.slide-track {
    animation: slide-left 5s linear infinite;
}

@keyframes slide-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
} */

.precio {
    font-size: 1.2rem;
    font-weight: bold;
    color:   #258F67;
}

.card-body {
    height: auto;
}

.btn-producto {
    background-color:  #EFC368;
}
.teximgbanner{
    color: rgba(36, 24, 24, 0.875);
    background-color:rgba(70, 46, 46, 0.466);
    font-size:6vw;
    position: absolute;
}
#nuevo{
    flex-direction: column;
}


.barra-superior{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form-select{
    min-width: 2rem !important;
    max-width: 4rem !important;
}
.comprar{
    min-width: 12rem !important;
    max-width: 12rem !important;
}