*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "inter", sans-serif;
    background-color: #F5F3E8;
}

main{
    margin: 2rem;
}

header{
    background-color: #019267;
    border-radius: 1rem;
}
.info{
    background-color: #245953;
    padding: .3rem;
    font-size: .7rem;
    text-align: center;
    color: white;
}
.img-logo {
    width: 3rem;
    height: auto;
}
.nombre {
    color: white;
    font-size: 1.8rem;
    margin: 0;
}
.carrito {
    align-self: center;
    margin: 2rem;
}

.barra-superior{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

/* CARRITO */

.carrito-container {
    position: relative;
    margin-top: 1rem;
    cursor: pointer;
  }
  
  .buy-card {
    display: none;
    position: absolute;
    top: 10;
    right: 0;
    background-color: #F5F3E8;
    border-radius: .2rem;
    padding: .5rem;
    z-index: 1;
    width: 370px;
    flex-grow: 1;
    color: #258F67;
  }
  
  .carrito-container:hover .buy-card {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .vaciar-carrito {
    border: solid thin rebeccapurple;
    transition: all .4s;
  }

  #cart-quantity {
    list-style: none;
  }


.boton-carrito {
    margin: .5rem;
    font-size: .8rem;
}

.items-cart {
    width: 90%;
    margin: 0;
}

.active1 {
    border-bottom: 3px solid  #258F67;
}


.alto {
    min-height: 100vh;
}


.d-block{
    height: 400px !important;
    object-fit: cover;
    object-position: 0% 60%;
}

h1 {
    color: #000000;
    width: 30rem;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 44px;
    line-height: 1.1;
    letter-spacing: -1px;
}

.p-text {
    text-align: justify;
    width: 40rem;
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 1.6;
}

.img-perro{
    max-width: 40vh;
    border-radius: 1rem;
    margin: 1rem;
}



.container-h1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;
    margin: 28px;
}

.d-flex1 {
    display: flex;;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

h5{
    font-weight: bold;
    color: #258F67;
}

.btn-cards{
    font-size: 14px;
    padding: 8px 12px;
    background-color: #EFC368;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
    
} 

.d-block1 {
        height: 200px !important;
        border-radius: 1rem;
        width: 10rem !important;
}



.d-flex2 {
    display: flex;;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 2rem;
}


.slide1{
	width: 100%;
    padding: 1rem;
}

@keyframes scroll {
	0% {
	transform: translateX(0);
	}
	100% {
	transform: translateX(calc(-250px * 1));
	}
}

.slide-track {
	/* animation: scroll 5s linear infinite; */
	display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.back-to-top {
    position: fixed;
    right: 40px;
    bottom: 50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #883A1B;
    border-radius: 6px;
    font-size: 13px;
    color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;  
    text-decoration: none !important;
    transition: all 0.3s ease;
    z-index: 300;
}
.back-to-top.is-visible {
    opacity: 1;
    visibility: visible;
}
.back-to-top i {
    font-weight: bold;
}
.back-to-top {
    background-color:#EFC368;
    color: #2D2A2B;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 35%);
}
.lorada {
    font-family: "lorada-font";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-decoration: inherit;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: white;
}

footer {
    background-color: #019267;
    height: auto;
    margin-top: auto;
}
.copyright {
    color: white;
    font-size: .8rem;
    padding: 1rem ;
    border-top: .5px solid #245953;
}
.redes-sociales {
    align-self: center;
    margin: 1rem;
    cursor: pointer;
}

.icon-redes {
    font-size: 1.5rem; 
    color: white;
    margin: .5rem;
}

@media (min-width: 320px) and (max-width: 767px){
    .main-div {
        flex-direction: column;
    }

    .container1 {
        width: 100%;
    }
    .div-perro, .img-perro{
        width: 100%;
    }
    .cartas {
        width: 100%;
        flex-wrap: wrap;
    }

    .img-slider{
        width: auto;
    }

    footer{
        flex-direction: column;
        width: auto;
        height: auto;
    }
}


