*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #019267;
}

.info{
    background-color: #245953;
    padding: .3rem;
    font-size: .7rem;
    text-align: center;
    color: white;
}
.card-img-top {
    height: 40%;
    object-fit: cover;
}
.hero-farmacia {
    background-image: url("../images/farmacia.png");
    width: 100%;
    height: 40vh;
    object-fit:cover;
    background-position: center center;
    background-size: cover;
    color: white;
}

.img-logo {
    width: 3rem;
    height: auto;
   
}
main {
    background-color: #F5F3E8;
    min-height: 100vh;
    max-width: 100vw;
}
.nombre {
    color: white;
    font-size: 1.8rem;
    margin: 0;
}
.cajas-categorias {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;

}
.carrito {
    align-self: center;
    margin: 2rem;
}
.barra-superior{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cartas-1 {
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 1rem; */

}
.link-categorias{
    color: black;
    text-decoration: none;
}
.buttons-nav{
    background-color: rgb(250,175,47);
}
.active {
    border-bottom: 3px solid  #258F67;
}
.descripcion-container{
    background-image:url(../images/—Pngtree—cartoon\ simple\ animal\ background_1092043.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    padding: 5rem;
    border-radius: 1rem;
    max-width: 100vw;
    min-height: 20vh;
}
.descripcion-container2{
    padding: 2rem;
    background-image:url(../images/celular.png) ;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 20rem;
}
.celular-editar{
    background-color: black;
    border-radius: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 13rem;
}
.descripcion-container3{
    color: black;
    margin: 5rem;
    border-radius: 1rem;
    width: 25rem;
    height: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.descripcion-container3 p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 2px black;

}
video{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 78%;
}
.card-body{
    max-height: 35rem;
    max-width: 20rem;
}
.contenedor-cartas{
    max-width: 100vw;
}

.footer-body {
    background-color: #019267;
    height: auto;
    margin-top: auto;
}
.redes-sociales{
    align-self: center;
    margin: 1rem;
}
.icon-redes {
    font-size: 1.5rem; 
    color: white;
    margin: .5rem;
}
.copyright {
    background-color: #019267;
    color: white;
    font-size: .8rem;
    padding: 1rem ;
    border-top: .5px solid #245953;
}
.card-body p {
    font-weight: bold;
    color: #258F67;
}
@media (min-width:319px) and (max-width: 719px){
    .descripcion-container{
        display: flex;
        flex-wrap: wrap;
        padding: 5rem;
        max-width: 100vw;
        min-height: 50vh;
    }
    video{
        display: none;
        justify-content: center;
        width: 100%;
        height: 78%;
    }
    .celular-editar{
        background-color: black;
        border-radius: 1.8rem;
        display: none;
        justify-content: center;
        align-items: center;
        width: 30rem;
        height: 13rem;
    }
    .descripcion-container3{
        background-color: bisque;
        margin: 5rem;
        border-radius: 1rem;
        width: 25rem;
        height: 22rem;
        display: none;
        justify-content: center;
        align-items: center;
    }
    .descripcion-container3 p {
        font-size: 1rem;
        font-weight: bold;
        display: none;
    }
    .card-body{
        max-height: 35rem;
        max-width: 20rem;
    }
    .filtros {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    }
    .cajas-categorias{
        display: flex;
        justify-content: space-between;
        margin: 0.7rem;
    }
    .search {
        width: 15rem;
    }
    .descripcion-container{
        display: none;
        justify-content: center;
        align-items: center;
        padding: 5rem;
        max-width: 100vw;
        min-height: 50vh;
    }
    .active {
        border-bottom: transparent;
    
    }

}
@media (min-width:720px) and (max-width: 1145px){
    .descripcion-container{
        display: flex;
        flex-wrap: wrap;
        padding: 5rem;
        max-width: 100vw;
        min-height: 50vh;
    }
    .card-body{
        max-height: 40rem;
        max-width: 20rem;
    }
}