*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    background-color: rgb(205, 255, 213)    ;
    max-width: 100vw;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url("/images/—Pngtree—cartoon\ simple\ animal\ background_1092043.jpg");
    background-size: cover;
}
.contenedor-cartas{
    max-width: 100vw;
}
main{
    background-color:saddlebrown;
}
.footer-contain{
    background-color: darkolivegreen;
    min-height: 8vh;
}